// 变量

// 主题颜色
$color-primary: #2D4DAB;
$color-success: #0C9363;
$color-warning: #E6A23C;
$color-danger: #CA4444;

$color-main: #5077AA; // 主题样式颜色

// 文字颜色
$color-font-title: #656565; // 字体标题样式颜色1级
$color-font-title2: #333333; // 字体标题样式颜色2级
$color-font-title3: #777777; // 字体标题样式颜色3级
$color-font-title4: #999999; // 字体标题样式颜色4级
$color-font-explain: #B6BABE; // 说明文字

// 线条颜色
$color-border: #C5C8CA; // 边框色值
$color-line: #E8E8E8; // 分割线色值
$color-bussiness-border: #333333; //业务表单边框色值

// 背景颜色
$color-bg: #FFFFFF;
$color-table-header: #F7F7F7;
$color-bg-2: #F6F8F9; /* 页面背景色 */
$color-bg-3: #2D4DAB;